
#main-container {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.image-container {
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.image-container img {
    transform: translate3d(0px, 0px, 0px);
    transition: transform .2s ease-in-out;
}
.image-container img:hover {
    transform: translate3d(0px, -150px, 0px);
}